body{
    font-family: 'Work Sans', sans-serif
}
/* header section start*/
header{
    background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
min-height: 30px;
width: 100%;
}

.nav-container{
    max-width: 1460px;
    margin: 0 auto ;
    display: flex;
    justify-content: space-around;
   
}

.nav-item ul{
    display: flex;
    list-style:none;
     width: 100%;
     font-size: 20px;
   align-items: center;
    justify-content: space-around; 
}
.nav-container ul li:hover{
    color:brown;
    cursor: pointer;
    
}
.btn-1{
    border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
width: 200px;
height: 56px;

flex-shrink: 0;
}
.youtub{
    color:red;
    font-size: 20px;
}
.tiktk{
    font-size: 20px;
    margin-left: 5px;
}
 button:hover{
    cursor: pointer;;
}
/* header section end */

/* *************banner section  start */
.banner-section{
  
    width: 100%;
    min-height: 400px;
    display: flex;
}
.banner-titel{
   
    width: 100%;
    min-height: 400px;
    text-align: center;
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
}
.banner-img{
  
    width: 100%;
    min-height: 400px;
}
.goat{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    font-size: 95px;
background-clip: text;
margin-top: 0;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.play{
    color: #0B0223;
    
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.btn-group{
   display: flex;
   justify-content: center;
   gap: 20px;
}
.btn-2{
    display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}
.btn-3{
    display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
border-radius: 48px;
background: #4EC5F7;
}
/* banner end */
/* second banner start */
.second-banner{
    
    width: 100%;
    min-height: 400px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.second{
    max-width: 1460px;
    margin: 0 auto ;
    display: flex;
 }
 .second p{
    line-height: 30px; 
 }
.sb-1{
 width: 100%;
}
.sb-2{
    width: 100%;
    text-align: right;
}
.sb-2 h2{
    
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.btn-3{
    display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}
/* second banner end */

/* online game */
.online-game{
    color: #0B0223;
text-align: right;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: center;
}
.funny{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.online-p{
    color: #534C64;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.card-section{
    max-width: 1460px;
    margin: 0 auto ;
    
    min-height: 500px; 
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 3rem;
}
.card{
    width: 342px;
height: 400px;
flex-shrink: 0;
border-radius: 16px;

}
.card:hover{
    cursor: pointer;
}
.card-unique{
    width: 342px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 16px;

}
.card-unique:hover{
    cursor: pointer;
    /* background: linear-gradient(0deg, , ), */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.60) 0%, rgba(123, 31, 31, 0.6) 100%);
    opacity: 0.5;
    transition: opacity 0.3s ease;
    
}

/* optional section start*/
.optional-section{
    max-width: 1460px;
    margin: 0 auto ;
  
    min-height: 400px;
    margin-top: 6rem;
    display: flex;
}
.optional-grp-1{
width: 100%;

}
.optional-grp-2{
    width: 100%;
   
    align-items: center;
     margin: 100px 0 auto ;
     margin-left: 150px;
   
}

.img-5{
   position: relative;
   
}
.img-6{
   
 position: absolute;
 margin-left: -200px;
 margin-top: 350px;

}
.optional-p{
    width: 426px;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px
}
.play{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.anywhere{
    margin-top: -30px;
}
.paragraph{
    width: 483px;
    color: #534C64;
 margin-top: -24px;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}




/* dangeruos */
.dangerous{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(5 ,1fr);
}
.small-div{
    display: flex;
}
.action-p{
    color: #0B0223;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.many-btn{
    width: 243px;
height: 80px;
flex-shrink: 0;
border-radius: 50px;
background: #FFF;
border: none;
}
.many-btn:hover{
    border: 4px solid salmon;
}
.btn-6{
    padding-left: 50px;
}





/* footer */
footer{
    width: 100%;
height: 800px;
flex-shrink: 0;
background: #0B0223;
margin-top: 10rem;
}
.btn{
    color: white;
text-align: center;
background: #0B0223;
border: none;
font-size: 18px;

}
.btn-btn{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 20px;
    
}
.btn:hover{
    color: #FF42A5;
}
.common{
    font-size: 3rem;
    color: white;
}
.icon{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.condition-paragraph{
    color: #FFF;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}
.condition-paragraph p:hover{
    color:#FF42A5;
    cursor: pointer;
}

.gamerr{
  color: white;
  text-align: center;
  margin-top: 100px;
}


/* optional section end*/
/* tablet */
@media screen and (min-width:472px) and (max-width: 900px) {
    header{
        background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    min-height: 30px;
    width: 120%;
    }
    .banner-section{
        width: 100%;
        flex-direction: column;
    }
    /* banner end */
    .second-banner{
        width: 115%;
    }
    .second{
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .card-section{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 100%;
        margin-left: 30px;
        
    }
    .card{
       margin-top: 40px;      
    } 
    .card-unique{
        margin-top: 40px;
    }
    .optional-section{
        flex-direction: column;
        flex-direction: column-reverse;
        
    }
    
        .optional-grp-2{
            
           
            align-items: center;
             margin: 100px 0 auto ;
           ;
           
        }
        .dangerous{
    
            margin-top: 10rem;
            display: grid;
            grid-template-columns: repeat(3 ,1fr);
        }
        .btn-6{
            padding-left: 10px;
        }

        /* foorer */
        footer{
          width: 876px;
        }
        .btn-btn{
            margin-top: 10rem;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            text-align: center;
            margin-top: 10px;
            gap: 20px;
            
        }


        .icon{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            text-align: center;
        }

        .condition-paragraph{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            text-align: center;
            margin-top: 50px;
            height: 20px;
        }


        .gamerr{
            color: white;
            text-align: center;

            margin-top: 200px;
          }
    
}

/* mobile responsive */
@media screen and (max-width: 472px) {
    
    .nav-container{
        flex-direction: column;
        width: 80%;
     }
     .nav-item ul{
        flex-direction: column;
        margin-top: 1.5rem;
     }
     .btn-1{
        width: 70%;
     }
     .gamer{
       margin-left: 21%;
     }
     /* header end */
     /* banner start */
     .banner-section{
        flex-direction: column;
    
       
     }
     .img-1{
       width: 100%;
     }
     /* banner end */

     /* second banenr start*/
     .second{
         flex-direction: column;flex-direction: column-reverse;
     }
     .image-4{
        width: 100%;
        
     }
     .card-section{
        display: grid;
        grid-template-columns: repeat(1,1fr);
     }
     .card{
     margin-top: 40px;
    }
    .card-unique{
        margin-top: 40px;
    }
    /* optional */
    .optional-section{
        flex-direction: column;
        flex-direction: column-reverse;
        
    }
    .img-5{
        width: 100%;
    }
    .img-6{
        width: 50%;
        
        margin-top: 240px;
        
    }
    .optional-grp-2{
         margin: 100px 0 auto ;
    }
    .paragraph{
      width: 100%;
        color: #534C64;
     margin-top: -24px;
    font-size: 18px;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    }
    .play{
        text-align: center;
    }
    .anywhere{
        text-align: center;
    }


    /* dangerous */
    .dangerous{
    
        margin-top: 10rem;
        display: grid;
        grid-template-columns: repeat(3 ,1fr);
    }
    .many-btn{
        width: 100px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
    border: none;
    }
    .action-p{
        color: #0B0223;
    font-family: Work Sans;
    font-size: 0.5rem;
    margin-left: -10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    }
    .btn-6{
        padding-left: 10px;
    }




    /* footer */
    footer{
        width: 100%;
    }
    .gamer{
         text-align: center;
    }
    .btn-btn{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        text-align: center;
       
        
        
    }
   
    .icon{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        text-align: center;
    }

    .condition-paragraph{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        text-align: center;
        margin-top: 50px;
        height: 20px;
    }


    .gamerr{
        color: white;
        text-align: center;
           display: flex;
           flex-wrap: wrap;
        margin-top: 200px;
      }
}